*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin: 20px 0;
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
    padding: 10px;
}
body{
    font-family: Arial, sans-serif;
    background-color: #9f8b8b;
    color: #555;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
#choices{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    size: 20px;
    border-radius: 50%;
    flex-direction: row;
    gap: 20px;
    direction: flex;
}
.choice{
    cursor: pointer;
    transition: transform 0.2s;
    size: cover;
    border-radius: 50%;
    flex-direction: row;
    gap: 20px;
      direction: flex;
}
div.choice {
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    flex-direction: row;
    gap: 20px;
      direction: flex;
       margin: 20px auto;
    padding: 10px 20px;
}
div.choice img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    gap: 20px;
    direction: flex;
}
div.choice:hover {
    transform: scale(1.1);
}
.result{
    text-align: center;
    font-size: 1.5rem;
    margin: 20px 0;
    opacity: 100;
    text-decoration: solid;
}
button.play{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}